.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.menu{
  border: 2px solid black;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 34px;
  width: 60px;
  background-image: url("three-dots-grey.svg");
  background-repeat: no-repeat;
  transition: .4s;
}

input:checked + .menu {
  visibility: visible;
}

input:checked + .slider {
  background-image: url("three-dots-green.svg");
  background-repeat: no-repeat;
  transform: rotate(-90deg);
}
