.dates-bar {
  background-color: #2E2972;
  @include for_phone_only {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

.dates-bar__max {
  display: flex;
  height: 50px;
  font-family: Montserrat;
  @include maxwidth
}

.dates-bar__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 25px;
  flex: 3;
}

.dates-bar__right {
  display: flex;
  align-items: center;
  padding-left: 20px;
  background-color: #100D46;
  width: 250px;

  @include for_phone_only {
    display: none;
  }
}

.dates-bar__arrow {
  @include for-phone-only {
    display: none;
  }
}

.dates-bar__arrow-down {
  display: none;
  @include for-phone-only {
    display: inline;
  }
}

.dates-bar__box {
  width: 38px;
  height: 38px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  text-transform: uppercase;
}

@media (max-width: 1400px) {.dates-bar__box21 {display: none;}}
@media (max-width: 1320px) {.dates-bar__box20 {display: none;}}
@media (max-width: 1270px) {.dates-bar__box19 {display: none;}}
@media (max-width: 1200px) {.dates-bar__box18 {display: none;}}
@media (max-width: 1150px) {.dates-bar__box17 {display: none;}}
@media (max-width: 1100px) {.dates-bar__box16 {display: none;}}
@media (max-width: 1030px) {.dates-bar__box15 {display: none;}}
@media (max-width: 970px) {.dates-bar__box14 {display: none;}}
@media (max-width: 900px) {.dates-bar__box13 {display: none;}}
@media (max-width: 830px) {.dates-bar__box12 {display: none;}}
@media (max-width: 750px) {.dates-bar__box11 {display: none;}}
@media (max-width: 700px) {.dates-bar__box10 {display: none;}}

.dates-bar__box_month-year {
  background-color: #100D46;
  @include for_phone_only {
    width: 53px;
  }
}

.dates-bar__box_today {
  color: #2E2972;
  background-color: white;
}

.dates-bar__box-top {
  font-size: 13px;
}

.dates-bar__box-bottom {
  font-size: 10px;
}

.dates-bar__search {
  font-size: 12px;
  color: white;
  margin-left: 15px;
}
