.footer {
  background-color: #262261;
  @include for-phone-only {
    display: none;
  }
}

.footer__max {
  display: flex;
  height: 80px;
  color: white;
  font-family: Montserrat;
  @include maxwidth;
}

.footer__left {
  display: flex;
  align-items: center;
  font-size: 13px;
  flex: 1;
  margin-left: 42px;
}

.footer__middle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.footer__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
  flex: 1;
  margin-right: 42px;
}
