.header-phone {
  display: none;
  @include for-phone-only{
    display: flex;
    align-items: center;
    font-family: Roboto Slab;
    font-size: 16px;
    color: white;
    height: 39px;
    background-color: #161F60;
  }
}

.header-phone__back {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.header-phone__title {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header-phone__empty {
  flex: 1;
}
