.related-events {
  background-color: #F0F0F0;
  border-top:2px solid rgba(0,0,0,0.16);
  overflow: scroll;
}

.related-events__max {
  display: flex;
  justify-content: center;
  flex-direction: column;
  @include maxwidth;
  height: 475px;
}

.related-events__title {
  display: flex;
  margin-left: 44px;
  align-items: center;
  font-family: Roboto Slab;
  height: 105px;
  font-size: 22px;
  font-weight: bold;
}

.related-events__list {
  margin-left: 44px;
  margin-right: 44px;
  display: flex;
  height: 330px;
  margin-bottom: 40px;
  @include for-phone-only {
    margin: 0 auto;
  }
}

.related-events__event {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 298px;
  height: 330px;
  background-color: white;
  border-bottom: 2px solid rgba(0,0,0,0.16);

  @include for-phone-only {
    width: 350px;
  }
}

.related-events__event ~ .related-events__event {
  @include for-phone-only {
    display: none;
  }
}

.related-events__event-image {
  height: 168px;
}

.related-events__event-details {
  height: 161px;
  display: flex;
  margin-left: 12px;
  margin-right: 20px;
  flex-direction: column;
  justify-content: space-evenly;
}

.related-events__from-to {
  font-family: Montserrat;
  font-size: 11px;
  color: #EB930F;
  text-transform: uppercase;
}

.related-events__event-title {
  font-family: Roboto Slab;
  font-weight: bold;
  font-size: 14px;
  color: #404040;
}

.related-events__icon {
  margin-right: 5px;
}

.related-events__event-timing-and-location {
  display: flex;
  align-items: baseline;
  font-family: Roboto Slab;
  font-size: 13px;
  color: #7B7B7B;
}

.related-events__event-tags {
  font-family: Montserrat;
  font-size: 11px;
  color: #9D9D9D;
}

.related-events__phone-more {
  display: none;
  @include for-phone-only {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}
