@import "base.css";

@import "blocks/header.css";
@import "blocks/event-content.css";
@import "blocks/related-events.css";
@import "blocks/footer.css";
@import "blocks/app-bar.css";
@import "blocks/back-bar.css";
@import "blocks/event-details.css";
@import "blocks/event-image.css";

.main-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
