body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: 0;
  font: inherit;
  overflow: visible;
  padding: 0;
  user-select: none;
  outline: none;
  cursor: pointer;
  color: inherit;
}

input[type="search"] {
  border-width: 0;
  outline: none;
}
